
{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">{{ titre }}</h1>
    {{ form_start(form2, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form2) }}


    <input type="submit"/>

    {{ form_end(form2) }}





{% endblock %}