<ul>
        <li>Prénom : {{ contact.prenom }}</li>
        <li>Ville : {{ contact.commune}}</li>
        <li>Email : {{ contact.email }}</li>
        <li>Message : {{ contact.message }}</li>
    </ul>