<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


        <title>{% block title %}Euratechkid's{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css ">
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/school.css') }}" rel="stylesheet" type="text/css">
         {% endblock %}
    </head>
    <body>

        {% block navbar %}
            {% include "navbar.html.twig" %}
        {% endblock %}

        {% block body %}
            {% include "homepage.html.twig" %}
        {% endblock %}

        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock  footer %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>
        {% endblock %}


    </body>
</html>
