{% block footer %}
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <a href="https://www.euratechnologies.com/" target="blank"> <img src="css/images/Euratech.png"/> </a>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <a href="https://www.lille.fr/" target="blank"> <img src="css/images/logoLille.jpg" id="lille"/> </a>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Adresse </h3>
                    <ul>
                        <li> EuraTech'Kids </li>
                        <li> 165 Avenue de Bretagne</li>
                        <li>59000 Lille</li>
                    </ul>
                </div>
                <div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    {% if form2 is defined %}
                    {{ form_start(form2) }}
                    <h3> Newsletter </h3>
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(form2.email) }}
                            </div>

                            <div class="row">
                                <div class="col">
                                    {{ form_row(form2.email) }}
                                </div>
                                <div>
                                <ul>
                                    <li>
                                        <div class="input-append newsletter-box text-center">
                                        
                                            <button class="btn  bg-gray" type="submit">S'inscrire à la Newsletter</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                
                            </div>
                        {{ form_end(form2) }}
                        {% endif %}
                    </div>
                        

                   
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/euratechkids" target="blank"> <i class="fab fa-facebook"></i></a> </li>
                        <li> <a href="https://twitter.com/euratechkids" target="blank"> <i class="fab fa-twitter">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/channel/UC_objOsEpjqUUmWu6NUhO3A" target="blank"> <i class="fab fa-youtube">   </i></a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"> Copyright © 2020, Euratech'Kids. Tous droits réservés. | <span><a href="https://www.wf3.fr/">Webforce3</a></span></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" id="mentions">
                    <p><a href="/mentions-legales">Mentions Légales</a> <br>
                        <a href="/conditions-generale">Conditions Générales d'Utilisations</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}