{% block navbar %}
    <nav class="main-navigation container-fluid">
        <div class="navbar-header animated fadeInUp">
            <img src="css/images/logokids.png" class="navbar-brand"/>
        </div>
        <div class="container">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/" class="nav-link">Accueil</a>
                </li>
                <li class="nav-list-item">
                    <a href="/ateliers" class="nav-link">Ateliers</a>
                </li>
                <li class="nav-list-item">
                    <a href="/ecoles" class="nav-link">Écoles</a>
                </li>
                <li class="nav-list-item">
                    <a href="#" class="nav-link" id="log" alt="se connecter"> <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-list-item">
                    <a href="#"  class="nav-link" id="log"> S'inscrire</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}